body{
    background-color: rgb(168, 186, 233);
    color:rgb(0, 0, 0)
}

.topo{
    background-color: rgb(122, 204, 228);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.topo ul{
    display: flex;
    list-style: none;
}

.topo a{
    padding: 10px;
    text-decoration: none;
    color: rgb(0, 0, 0);
}

.topo a:hover{
    background-color: antiquewhite;
    border-radius: 5px;
}
.imagem{
    justify-self: center;
}
.conteudo{
    justify-self: center;
}